@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body,
#root,
.App {
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.react-flow__node-custom {
  padding: 10px;
  background-color: #556677;
  color: white;
}

.MuiDialog-paper {
  border-radius: 1rem !important;
}

.rsc-os {
  padding-left: 2.7rem !important;
}

.rsc-os-option-element {
  background: #e0a16a !important;
  font-size: 12px !important;
  padding: 5px 10px !important;
}
